<template>
  <v-dialog v-model="showModal" scrollable persistent max-width="600px">
    <v-card>
      <template v-if="action == 'Seats'">
        <v-card-title>
          <span class="headline">{{ $t('message.AdjustNumberOfPeople') }}</span>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text class="text-center">
          <h3 class="mt-12" style="font-size:60px">{{occupied_seats}}</h3>
          <img src="/static/img/dinner.png" width="200" alt />

          <v-flex xs12 class="pr-2">
            <v-autocomplete
              prepend-icon="supervisor_account"
              :label="$t('message.AdjustNumberOfPeople')"
              :items="quantity"
              v-model="occupied_seats"
            ></v-autocomplete>
          </v-flex>
        </v-card-text>
      </template>
      <template v-else>
        <v-card-title>
          <span class="headline">{{ $t('message.ReportAbsence') }}</span>
        </v-card-title>
        <v-card-text class="text-center">
          <img src="/static/img/clock.png" width="200" alt />
        </v-card-text>
      </template>
      <v-card-actions style="padding: 16px;">
        <v-spacer></v-spacer>

        <v-btn color="error" depressed @click="closeModal()">{{$t('message.Cancel')}}</v-btn>
        <v-btn
          style="margin-right: 0px;"
          color="success"
          depressed
          @click="changeData()"
          :loading="loading"
        >{{$t('message.Save')}}</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import apiDashboard from "../../../api/dashboard";

export default {
  props: {
    showModal: Boolean,
    closeModal: Function,
    getData: Function,
    atention: Object,
    action: String
  },
  data: () => ({
    loading: false,
    occupied_seats: 0,
    quantity: []
  }),
  methods: {
    changeData() {
      apiDashboard
        .changeData({
          reservationId: this.atention.id,
          type: this.action,
          occupied_seats: this.occupied_seats
        })
        .then(() => {
          this.closeModal();
          this.getData();
          window.getApp.$emit("SET_MESSAGE", this.$t("message.RecordDeleted"));
        })
        .catch(error => {
          window.getApp.$emit("SET_MESSAGE", error.response.statusText);
        });
    }
  },
  mounted() {},
  watch: {
    showModal() {
      this.quantity = [];
      this.occupied_seats = this.atention.occupied_seats;
      for (let index = 1; index < 41; index++) {
        this.quantity.push({ value: index, text: index });
      }
    }
  }
};
</script>
<style lang="css">
.v-input__prepend-outer {
  margin-right: 5px;
}
</style>
