<template>
  <div :id="'upload-' + name">
    <a
      class="btn"
      @click="toggleShow"
      style="background-color: rgb(228, 228, 228); border: 1px solid rgb(208, 208, 208); padding: 0; border-radius: unset;"
    >
      <template v-if="original && !not_show">
        <img class="img-fluid" :src="img + original" />
        <div class="botonImgEditar">Editar</div>
      </template>
      <template v-else>
        <img class="img-fluid" :src="imgDataUrl" />
      </template>
    </a>
    <my-upload
      :field="name"
      @crop-success="cropSuccess"
      @crop-upload-success="cropUploadSuccess"
      @crop-upload-fail="cropUploadFail"
      @src-file-set="srcFileSet"
      v-model="show"
      :url="url"
      :width="600"
      :height="600"
      :params="params"
      :imgDataUrl="imgDataUrl"
      :headers="headers"
      :method="method"
      :noCircle="true"
      lang-type="es-MX"
      :noRotate="false"
      :img-format="format"
    ></my-upload>
  </div>
</template>

<script>
import myUpload from "vue-image-crop-upload";

export default {
  props: {
    method: {
      default: "POST",
    },
    url: {
      default: "",
    },
    name: {
      default: "upload",
    },
    img: {
      default: "",
    },
    original: {
      default: "",
    },
    format: {
      default: "jpg",
    },
  },
  data() {
    return {
      show: false,
      params: {},
      headers: {
        // "X-CSRF-TOKEN": $('meta[name="csrf-token"]').attr("content"),
      },
      imgDataUrl: this.img + "/upload.png", // the datebase64 url of created image
      imgSelected: "",
      fileName: "",
      not_show: false,
    };
  },
  components: {
    "my-upload": myUpload,
  },
  created() {
    this.toggleShow();
  },
  methods: {
    toggleShow() {
      this.show = !this.show;
    },
    srcFileSet(fileName) {
      //this.imgSelected = $('#upload-'+this.name+' .vue-image-crop-upload input[type=file]').clone()
      this.fileName = fileName;
      console.log(this.imgSelected);
    },
    /**
     * crop success
     *
     * [param] imgDataUrl
     * [param] field
     */
    cropSuccess(imgDataUrl) {
      console.log("-------- crop success --------");
      this.imgDataUrl = imgDataUrl;
      this.not_show = true;
      if (!this.url || this.url == "") {
        //this.imgSelected.attr('name', this.name)
        //this.imgSelected.appendTo($('#upload-'+this.name));
        // this.$emit('crop',  this.name, new File([img], this.fileName+ '.jpg'));
      }
      // $(
      //   "#upload-" +
      //     this.name +
      //     " .vue-image-crop-upload .vicp-wrap .vicp-close"
      // ).addClass("d-none");
      // $(
      //   "#upload-" +
      //     this.name +
      //     " .vue-image-crop-upload .vicp-wrap .vicp-operate"
      // ).addClass("d-none");
    },
    /**
     * upload success
     *
     * [param] jsonData  server api return data, already json encode
     * [param] field
     */
    cropUploadSuccess(jsonData) {
      console.log("-------- upload success --------");
      this.$emit(
        "image-uploaded",
        this.name,
        new File(
          [this.dataURItoBlob(this.imgDataUrl, this.format)],
          this.fileName
        ),
        jsonData
      );
      // $(
      //   "#upload-" +
      //     this.name +
      //     " .vue-image-crop-upload .vicp-wrap .vicp-close"
      // ).removeClass("d-none");
      // $(
      //   "#upload-" +
      //     this.name +
      //     " .vue-image-crop-upload .vicp-wrap .vicp-operate"
      // ).removeClass("d-none");
    },
    /**
     * upload fail
     *
     * [param] status    server api return error status, like 500
     * [param] field
     */
    cropUploadFail(status, field) {
      console.log("-------- upload fail --------");
      console.log(status);
      console.log("field: " + field);
      // $(
      //   "#upload-" +
      //     this.name +
      //     " .vue-image-crop-upload .vicp-wrap .vicp-close"
      // ).removeClass("d-none");
      // $(
      //   "#upload-" +
      //     this.name +
      //     " .vue-image-crop-upload .vicp-wrap .vicp-operate"
      // ).removeClass("d-none");
    },
    dataURItoBlob(dataURI, dataTYPE) {
      var binary = atob(dataURI.split(",")[1]),
        array = [];
      for (var i = 0; i < binary.length; i++) array.push(binary.charCodeAt(i));
      return new Blob([new Uint8Array(array)], { type: dataTYPE });
    },
  },
  watch: {
    show() {
      if (!this.show) {
        if (
          this.fileName == "" ||
          this.imgDataUrl == "/static/img//upload.png"
        ) {
          console.log("no mando nada");
          this.$emit("delete", true);
        }
      }
    },
  },
};
</script>

<style>
.vicp-wrap {
  max-width: 80%;

  border-radius: 15px !important;
}
.vue-image-crop-upload .vicp-wrap .vicp-operate a {
  background: #eb4744;
  font-weight: bold;
  color: white;
  border-radius: 10px;
}
span.vicp-hint {
  font-weight: bold;
  color: white !important;
}
.vicp-close {
  display: none;
}
.vicp-drop-area {
  background-color: #eb4742c2 !important;
  border-radius: 10px;
}
.vue-image-crop-upload
  .vicp-wrap
  .vicp-step2
  .vicp-crop
  .vicp-crop-right
  .vicp-preview {
  margin-top: 50px;
  width: 200px;
  height: 150px;
  overflow: hidden;
}
@media (max-width: 480px) {
  .textMovilHide {
    display: none !important;
  }
}
</style>
