<template>
  <div>
    <v-container grid-list-xl fluid>
      <v-layout row wrap>
        <v-flex xs12>
          <v-card>
            <v-app-bar flat color="white">
              <v-text-field
                flat
                :placeholder="$t('message.Search')"
                v-model="search"
                hide-details
                class="hidden-sm-and-down elevation-0"
              ></v-text-field>
              <v-btn
                class="ml-5"
                color="primary"
                :disabled="search.length == 0"
                @click="getOAAS()"
                style="min-width: 56px"
              >
                <v-icon>search</v-icon>
              </v-btn>
              <v-spacer></v-spacer>
            </v-app-bar>
            <v-divider></v-divider>
            <div v-if="loading" class="text-center pa-10">
              <v-progress-circular
                indeterminate
                color="primary"
              ></v-progress-circular>
            </div>
            <v-card-text
              class="pa-5 mb-5 text-center"
              v-if="oaas.length == 0 && !loading"
              style="min-height: 500px"
            >
              <h3>Ingrese su búsqueda en el campo de texto</h3>
            </v-card-text>
            <v-card-text
              class="pa-5 mb-5"
              v-if="loaded && oaas.length > 0"
              style="height: 500px,overflow-y:auto"
            >
              {{ oaas.length }} resultados para
              <b>{{ search }}</b>

              <v-list
                two-line
                v-if="loaded && oaas.length > 0"
                class="mx-auto mt-5"
              >
                <v-list-item-group active-class="pink--text">
                  <template v-for="(item, index) in oaas">
                    <v-list-item
                      :key="item.label"
                      class="mt-5"
                      @click="transformOA(item.key)"
                    >
                      <template>
                        <v-list-item-content>
                          <v-list-item-title
                            v-text="index + 1 + '. ' + item.label"
                          ></v-list-item-title>

                          <v-list-item-subtitle
                            class="text--primary mt-2"
                            v-text="item.abstract"
                          ></v-list-item-subtitle>
                        </v-list-item-content>

                        <!-- <v-list-item-action>
                            <v-list-item-action-text
                              v-text="item.action"
                            ></v-list-item-action-text>

                            <v-icon v-if="!active" color="grey lighten-1">
                              mdi-star-outline
                            </v-icon>

                            <v-icon v-else color="yellow darken-3">
                              mdi-star
                            </v-icon>
                          </v-list-item-action> -->
                      </template>
                    </v-list-item>
                  </template>
                </v-list-item-group>
              </v-list>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>
<script>
import apiOA from "../../api/oas";

export default {
  data() {
    return {
      search: "",
      loaded: true,
      loading: false,
      oaas: [],
    };
  },
  methods: {
    transformOA(name) {
      this.$router.push({
        path: "oaa",
        query: { search: name },
      });
    },
    getOAAS() {
      this.loaded = false;

      this.loading = true;
      apiOA
        .fetch({
          q: this.search,
          user_id: 1,
        })
        .then((response) => {
          this.oaas = response.data.results;
          var key = "";
          this.oaas.forEach((oaa) => {
            key = oaa.resource.split("/");
            oaa.key = key[key.length - 1];
          });
          this.loaded = true;
          this.loading = false;
        })
        .catch((error) => {
          this.loadingTable = false;
          console.log(error);
        });
    },
  },
  mounted() {},
  computed: {},
  watch: {},
};
</script>
