<template>
  <div>
    <v-container grid-list-xl fluid>
      <v-layout row wrap>
        <v-flex xs12>
          <v-card>
            <div v-if="loading" class="text-center pa-10">
              <v-progress-circular
                indeterminate
                color="primary"
              ></v-progress-circular>
            </div>

            <v-layout
              class="text-justify pa-5"
              row
              wrap
              v-if="!loading && content"
            >
              <v-flex xs6>
                <span><b> Estilo de Aprendizaje de objeto: Lectura/Escritura</b></span>
                <div
                  v-html="content"
                  class="pa-5"
                  style="height: 600px; overflow-y: auto"
                ></div>
              </v-flex>
              <v-flex xs6>
                <span><b> Estilo de Aprendizaje de objeto: Auditivo</b></span>
                <vue-player audio :sources="audioSources" v-if="audioSources" />
              </v-flex>
            </v-layout>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>
<script>
import apiOA from "../../api/oas";
import "@iomariani/vue-player/dist/vue-player.css";

export default {
  data() {
    return {
      search: "",
      loaded: true,
      loading: false,
      oaa: null,
      content: "dd",
      audioSources: null,
    };
  },
  methods: {
    transformOA() {
      this.loaded = false;

      this.loading = true;
      apiOA
        .trasnformOa(this.$route.query.search, {
          style: "Aural",
          user_id: 1,
        })
        .then((response) => {
          this.oaa = response.data.resource;
          this.content = response.data.content;

          this.audioSources = {
            "audio/mp3": this.oaa.lom_tecnica.localizacion,
          };

          this.loaded = true;
          this.loading = false;
        })
        .catch((error) => {
          this.loadingTable = false;
          console.log(error);
        });
    },
  },
  mounted() {
    this.transformOA();
  },
  computed: {},
  watch: {},
};
</script>
