<!-- Header Structure -->
<template>
  <div>
    <v-navigation-drawer
      v-if="!horizontal"
      app
      fixed
      v-model="drawer"
      :mini-variant.sync="sidebarState"
      mini-variant-width="70"
      :width="250"
      class="Vuely-sidebar"
      :style="{ backgroundImage: 'url(' + selectedSidebarBgImage.url + ')' }"
      :class="{ 'background-none': !backgroundImage }"
      :right="rtlLayout"
    >
      <!-- App Sidebar -->
      <app-sidebar></app-sidebar>
    </v-navigation-drawer>
    <v-app-bar
      class="Vuely-toolbar"
      app
      :color="activeHeaderFilter.class"
      fixed
    >
      <div class="d-custom-flex align-items-center navbar-left">
        <div v-if="!horizontal">
          <v-app-bar-nav-icon
            @click.stop="drawer = !drawer"
            class="v-step-0"
          ></v-app-bar-nav-icon>
        </div>
      </div>

      <div class="navbar-right">
        <v-btn icon large @click="toggleFullScreen" class="full-screen ma-0">
          <v-icon color="grey">fullscreen</v-icon>
        </v-btn>
        <notifications :applications="applications"></notifications>
        <!-- <language-provider></language-provider> -->
        <user></user>
      </div>
    </v-app-bar>
    <!-- Chat Searchbar -->
    <v-navigation-drawer
      fixed
      v-model="chatSidebar"
      :right="!rtlLayout"
      temporary
      app
      class="chat-sidebar-wrap"
      :width="300"
    ></v-navigation-drawer>
    <mobile-search-form></mobile-search-form>
  </div>
</template>

<script>
import Sidebar from "../Sidebar/Sidebar.vue";
import screenfull from "screenfull";
// import LanguageProvider from "./LanguageProvider";
import Notifications from "./Notifications";
import User from "./User";
// import QuickLinks from "./QuickLinks";
import MobileSearchForm from "./MobileSearchForm";
import { getCurrentAppLayout } from "Helpers/helpers";
import { mapGetters } from "vuex";
import Vue from "vue";

export default {
  props: {
    horizontal: {
      default: false,
      type: Boolean,
    },
  },
  data() {
    return {
      city_changed: false,
      restaurant_changed: false,
      city: "",
      city_id: "1",
      restaurants: [],
      restaurant: "",
      collapsed: false, // collapse sidebar
      drawer: null, // sidebar drawer default true
      chatSidebar: false, // chat component right sidebar
      sidebarImages: "", // sidebar background images
      enableDefaultSidebar: false,
      applications: [],
    };
  },
  computed: {
    ...mapGetters([
      "selectedLocale",
      "rtlLayout",
      "backgroundImage",
      "backgroundImage",
      "selectedSidebarBgImage",
      "collapseSidebar",
      "activeHeaderFilter",
    ]),
    sidebarState: {
      get: function () {
        return this.collapseSidebar;
      },
      set: function () {
        return this.collapseSidebar;
      },
    },
    user() {
      return this.$store.state.auth.user;
    },
  },
  mounted() {},
  methods: {
    setCity(entityActive) {
      this.city_changed = true;
      this.city = entityActive;
    },
    setRestaurant(entityActive) {
      this.restaurant_changed = true;
      this.restaurant = entityActive;
    },

    // toggle full screen method
    toggleFullScreen() {
      if (screenfull.enabled) {
        screenfull.toggle();
      }
    },
    sidebarPath(link) {
      this.$store.dispatch("setActiveMenuGroup", { pathURL: link });
      this.$router.push(this.getMenuLink(link));
    },
    getMenuLink(link) {
      return "/" + getCurrentAppLayout(this.$router) + link;
    },
    toggleSearchForm() {
      this.$store.dispatch("toggleSearchForm");
    },
  },
  watch: {
    city: function (newValue, oldValue) {
      console.log(newValue + oldValue + "asdas");
      let message = "";
      message = "Ciudad cambiada exitosamente";
      Vue.notify({
        group: "loggedIn",
        type: "success",
        text: message,
      });
      localStorage.setItem("cityActive", this.city);
      sessionStorage.setItem("cityActive", this.city);
      this.$store.dispatch("setActualCity");
    },
    restaurant: function (newValue, oldValue) {
      console.log(newValue + oldValue + "asdas");
      let message = "";
      message = "Restaurant cambiado exitosamente";
      Vue.notify({
        group: "loggedIn",
        type: "success",
        text: message,
      });
      localStorage.setItem("restaurantActive", this.restaurant);
      sessionStorage.setItem("restaurantActive", this.restaurant);
      this.$store.dispatch("setActualRestaurant");
    },
  },
  components: {
    appSidebar: Sidebar,
    // LanguageProvider,
    Notifications,
    // QuickLinks,
    MobileSearchForm,
    User,
  },
};
</script>
<style>
.v-menu__content.theme--light.v-menu__content--fixed.menuable__content__active.v-autocomplete__content {
  z-index: 100000000 !important;
}
</style>
