<template>
  <v-menu
    offset-y
    origin="right top"
    z-index="99"
    content-class="notification-dropdown"
    transition="slide-y-transition"
    nudge-top="-10"
    class="applications"
  >
    <template v-slot:activator="{ on }">
      <v-btn class="notification-icon ma-0" v-on="on" icon large>
        <v-badge color="red" :content="applications.length" v-if="applications.length > 0">
          <i
            class="zmdi grey--text zmdi-notifications-active zmdi-hc-fw font-lg"
            :class=" unreads.length > 0 ? 'animated infinite wobble': ''"
          ></i>
        </v-badge>
        <i
          v-else
          class="zmdi grey--text zmdi-notifications-active zmdi-hc-fw font-lg"
          :class=" unreads.length > 0 ? 'animated infinite wobble': ''"
        ></i>
      </v-btn>
    </template>
    <div class="dropdown-content">
      <div class="dropdown-top d-custom-flex justify-space-between primary">
        <span class="white--text fw-bold">{{$t('message.Notifications')}}</span>
        <span class="v-badge warning">{{unreads.length}} {{$t('message.New')}}</span>
      </div>
      <v-list class="dropdown-list">
        <v-list-item
          v-for="notification in applications"
          :key="notification.title"
          @click="viewApplication(notification.name)"
        >
          <img :src="notification.logo" style="width: 50px;" class="mr-2" alt v-if="notification" />
          <i class="mr-3 zmdi" :class="notification.icon" v-else></i>
          <span>{{ $t(notification.title) }}</span>
        </v-list-item>
      </v-list>
    </div>
  </v-menu>
</template>

<script>
export default {
  props: ["applications"],
  data() {
    return {
      notifications: [
        {
          title: "message.totalAppMemory",
          icon: "zmdi-storage primary--text"
        },
        {
          title: "message.totalMemoryUsed",
          icon: "zmdi-memory warning--text"
        },
        {
          title: "message.unreadMail",
          icon: "zmdi-email error--text"
        },
        {
          title: "message.feedback",
          icon: "zmdi-edit success--text"
        }
      ]
    };
  },
  methods: {
    viewApplication(name) {
      this.$router.push({
        path: "restaurants",
        query: { search: name }
      });
    }
  },
  computed: {
    unreads() {
      return this.applications.filter(application => {
        return application.read == "unread";
      });
    }
  }
};
</script>
<style>
.applications span.v-badge__badge.red {
  bottom: calc(100% - 16px) !important ;
  left: calc(100% - 20px) !important;
}
</style>
