<template>
  <v-app
    id="inspire"
    :class="[
      {
        'box-layout': boxLayout,
        'collapse-sidebar': sidebarState,
        'rtl-layout': rtlLayout,
      },
    ]"
    class="color-red"
  >
    <router-view :auth="auth" :authenticated="authenticated"></router-view>
    <notifications group="loggedIn" position="top right" animation-type="velocity" />
    <span
      style="position: absolute;
    font-size: 20px;
    bottom: 0px;
    z-index: 10000000000000000000;
    color: wheat;"
    >v0.0.1</span>
  </v-app>
</template>
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY_HERE&libraries=places"></script>

<script>
import { mapGetters } from "vuex";

import AuthService from "./auth/AuthService";

const auth = new AuthService();
// const { login, logout, authenticated, authNotifier } = auth;

const { authenticated, authNotifier } = auth;

export default {
  data() {
    authNotifier.on("authChange", authState => {
      this.authenticated = authState.authenticated;
    });
    return {
      auth,
      authenticated,
      animation: {
        enter: {
          opacity: [1, 0],
          translateX: [0, -300],
          scale: [1, 0.2]
        },
        leave: {
          opacity: 0,
          height: 0
        }
      }
    };
  },
  mounted() {
    // This if block is for IE 11
    if (!Object.entries)
      Object.entries = function(obj) {
        var ownProps = Object.keys(obj),
          i = ownProps.length,
          resArray = new Array(i); // preallocate the Array
        while (i--) resArray[i] = [ownProps[i], obj[ownProps[i]]];

        return resArray;
      };
    if (
      this.selectedLocale.locale === "he" ||
      this.selectedLocale.locale === "ar"
    ) {
      this.$store.dispatch("rtlLayout");
    }
  },
  computed: {
    ...mapGetters([
      "collapseSidebar",
      "boxLayout",
      "rtlLayout",
      "selectedLocale"
    ]),
    // isDark(){ return (this.$vuetify.theme.dark) ? 'dark' : 'light' }
    sidebarState: {
      get: function() {
        return this.collapseSidebar;
      },
      set: function() {
        return this.collapseSidebar;
      }
    }
  }
};
</script>
<style>
.color-red .v-tab.v-tab {
  background: #cccccc;
  color: white !important;
  border-radius: 8px;
  margin-right: 5px;
}
.color-red .v-tab.v-tab--active {
  background: red !important;
}
.color-red .v-tabs-slider {
  background: none;
}
.color-red .v-window.v-item-group.theme--light.v-tabs-items {
  margin-top: 10px;
}
.swal2-popup {
  display: none;
  position: relative;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  width: 32em;
  max-width: 100%;
  padding: 1.25em;
  border: none;
  border-radius: 0.3125em;
  background: #fff;
  font-family: sans-serif;
  font-size: 1rem;
}
span.stepTitle {
  font-size: 17px;
  font-weight: bold;
  padding: 10px;
}
</style>
