<template>
  <div class="session-wrapper">
    <!-- <div class="session-left">
			<session-slider-widget></session-slider-widget>
    </div>-->
    <div class="session-right text-center" style="margin-left: 0">
      <div class="session-table-cell">
        <div class="session-content">
          <!-- <img
            :src="appLogo"
            class="img-responsive mb-4"
            width="208"
            height="208"
          /> -->
          <h2 class="mb-4">{{ $t("message.loginToAdmin") }}</h2>
          <p class="fs-14 mb-10">
            {{ $t("message.enterUsernameAndPasswordToAccessControlPanelOf") }}
            {{ brand }}.
          </p>
          <v-form v-model="valid" class="mb-5">
            <v-text-field
              label="E-mail ID"
              v-model="email"
              :rules="emailRules"
              required
              autocomplete="email"
            ></v-text-field>
            <v-text-field
              label="Password"
              v-model="password"
              type="password"
              :rules="passwordRules"
              required
            ></v-text-field>
            <v-checkbox
              color="primary"
              label="Recordarme"
              v-model="checkbox"
            ></v-checkbox>
            <!-- <router-link class="mb-2" to="/session/forgot-password">{{$t('message.forgotPassword')}}?</router-link> -->
            <div>
              <v-btn
                large
                @click="submit"
                block
                color="primary"
                class="mb-2 buttom_login"
                >{{ $t("message.loginNow") }}</v-btn
              >
            </div>
          </v-form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// import firebase from "firebase/app";
// import { mapGetters } from "vuex";
// import SessionSliderWidget from "Components/Widgets/SessionSlider";
import AppConfig from "Constants/AppConfig";

import AuthService from "../../auth/AuthService";

const auth = new AuthService();
// const { login, logout, authenticated, authNotifier } = auth;

const { login } = auth;

export default {
  components: {
    // SessionSliderWidget
  },
  data() {
    return {
      checkbox: false,
      valid: false,
      email: "",
      emailRules: [
        (v) => !!v || "E-mail is required",
        (v) =>
          /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) ||
          "E-mail must be valid",
      ],
      password: "",
      passwordRules: [(v) => !!v || "Password is required"],
      appLogo: AppConfig.appLogo,
      brand: AppConfig.brand,
    };
  },
  mounted() {
    if (localStorage.getItem("remenberme")) {
      this.email = localStorage.getItem("remenberme");
    }
  },

  methods: {
    submit() {
      const user = {
        email: this.email,
        password: this.password,
      };
      if (this.checkbox) {
        localStorage.setItem("remenberme", this.email);
      } else {
        if (localStorage.getItem("remenberme")) {
          localStorage.removeItem("remenberme");
        }
      }
      this.$store.dispatch("signinUserInMesa", {
        user,
      });
    },
    signInWithFacebook() {
      this.$store.dispatch("signinUserWithFacebook");
    },
    signInWithGoogle() {
      this.$store.dispatch("signinUserWithGoogle");
    },
    signInWithTwitter() {
      this.$store.dispatch("signinUserWithTwitter");
    },
    signInWithGithub() {
      this.$store.dispatch("signinUserWithGithub");
    },
    onCreateAccount() {
      this.$router.push("/session/sign-up");
    },
    signinWithAuth0() {
      login();
    },
  },
};
</script>
<style lang="css" scoped>
.buttom_login {
  background-image: linear-gradient(72deg, #ef3349 0%, #eb553e 71%) !important;
}
</style>
