<template>
  <div class="session-wrapper sing-up">
    <div class="session-right text-center" style="margin-left: 0">
      <div class="session-table-cell">
        <div class="session-content">
          <img
            :src="appLogo"
            class="img-responsive mb-4"
            width="178"
            height="178"
          />
          <h2 class="mb-4">Registro</h2>
          <form-wizard
            :title="''"
            :subtitle="''"
            @on-complete="onComplete"
            v-model="tab"
          >
            <tab-content
              title="User Details"
              icon="ti-user"
              :before-change="validateFirstStep"
            >
              <v-form ref="formUser" autocomplete="off">
                <v-layout row wrap>
                  <v-flex xs12 sm12 class="pr-2">
                    <v-text-field
                      prepend-icon="perm_identity"
                      label="Nombre"
                      type="text"
                      v-model="user.first_name"
                      :rules="[rules.required]"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm12 class="pr-2">
                    <v-text-field
                      prepend-icon="perm_identity"
                      label="Apellido"
                      type="text"
                      v-model="user.last_name"
                      :rules="[rules.required]"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm12 class="pr-2">
                    <v-text-field
                      prepend-icon="email"
                      label="Email"
                      type="text"
                      v-model="user.email"
                      :rules="[rules.required, rules.email]"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm12 class="pr-2">
                    <v-text-field
                      prepend-icon="phone"
                      label="Telefono"
                      type="text"
                      v-model="user.phone"
                      :rules="[rules.required]"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm12 class="pr-2">
                    <v-text-field
                      prepend-icon="lock"
                      label="Contraseña"
                      type="password"
                      v-model="user.password"
                      :rules="[rules.required, rules.password]"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm12 class="pr-2">
                    <v-text-field
                      prepend-icon="lock"
                      label="Confirmar Contraseña"
                      type="password"
                      v-model="user.password_confirm"
                      :rules="[rules.required, passwordConfirmationRule]"
                    ></v-text-field>
                  </v-flex>
                </v-layout>
              </v-form>
            </tab-content>
            <tab-content
              title="Restaurant Details"
              icon="ti-bookmark-alt"
              :before-change="validateSecondStep"
            >
              <div class="support-ticket-wrap mb-12">
                <app-section-loader :status="loader"></app-section-loader>
                <v-layout row wrap>
                  <v-flex xs12 class="pr-2">
                    <v-icon style="font-size: 50px">check</v-icon>
                    <span>
                      Usted se ha registrado con exito, cree su primer
                      restaurante o
                      <router-link to="/session/login">
                        <!-- {{
              $t("message.login")
                        }}-->
                        Inicie Sesión
                      </router-link>
                    </span>
                  </v-flex>
                </v-layout>
                <vue-perfect-scrollbar :settings="settings">
                  <v-list>
                    <template v-for="restaurant in restaurants">
                      <div class="listing" :key="restaurant.name">
                        <v-list-item>
                          <v-list-item-avatar
                            style="height: 70px; min-width: 70px; width: 70px"
                          >
                            <v-icon style="font-size: 50px">restaurant</v-icon>
                          </v-list-item-avatar>
                          <v-list-item-content>
                            <v-list-item-subtitle>
                              <div
                                class="d-custom-flex align-items-center mb-2"
                              >
                                <h4 class="fs-15 mb-0 mr-2">
                                  {{ restaurant.name }}
                                </h4>
                              </div>
                            </v-list-item-subtitle>
                            <p
                              :key="restaurant.id"
                              class="fs-14 mb-0 grey--text"
                            >
                              {{ restaurant.body }}
                            </p>
                            <div class="d-custom-flex">
                              <a
                                @click="editRestaurant(restaurant)"
                                class="mr-3"
                                style="cursor: pointer"
                              >
                                <i
                                  class="zmdi zmdi-edit success--text"
                                  style="font-size: 25px"
                                ></i>
                              </a>
                              <a
                                @click="deleteRestaurant(restaurant.id)"
                                class="mr-3"
                                style="cursor: pointer"
                              >
                                <i
                                  class="zmdi zmdi-delete error--text"
                                  style="font-size: 25px"
                                ></i>
                              </a>
                            </div>
                          </v-list-item-content>
                        </v-list-item>
                      </div>
                    </template>
                  </v-list>
                </vue-perfect-scrollbar>
              </div>
              <v-btn
                color="primary"
                class="mr-2"
                @click="showModal = true"
                style="height: 50px; min-width: 56px; padding: 15px"
              >
                Crear Restaurante
                <v-icon>add</v-icon>
              </v-btn>
            </tab-content>
            <tab-content title="Finish" icon="ti-user">
              <v-form ref="lastForm" autocomplete="off">
                <v-layout row wrap>
                  <v-flex xs12 class="pr-2">
                    <v-icon style="font-size: 50px" v-if="dataReady"
                      >done</v-icon
                    >
                    <v-icon style="font-size: 50px" v-else>av_timer</v-icon>
                    <span v-if="dataReady">Datos guardados correctamente</span>
                    <span v-else>Guardando datos</span>
                  </v-flex>
                </v-layout>
              </v-form>
            </tab-content>
            <v-btn
              color="error"
              type="primary"
              slot="prev"
              v-show="createdUser == null"
              >{{ $t("message.Back") }}</v-btn
            >
            <v-btn
              color="success"
              type="primary"
              slot="next"
              v-show="createdUser == null || restaurants.length > 0"
              >Siguiente</v-btn
            >

            <v-btn color="error" type="primary" slot="finish">
              {{ $t("message.Finish") }}
            </v-btn>
          </form-wizard>

          <!-- <div class="session-social-links d-inline-block">
            <ul class="list-inline">
              <li @click="signInWithFacebook">
                <span class="facebook-bg session-icon">
                  <i class="ti-facebook"></i>
                </span>
              </li>
              <li @click="signInWithGoogle">
                <span class="google-bg session-icon">
                  <i class="ti-google"></i>
                </span>
              </li>
              <li @click="signInWithTwitter">
                <span class="twitter-bg session-icon">
                  <i class="ti-twitter-alt"></i>
                </span>
              </li>
              <li @click="signInWithGithub">
                <span class="github-bg session-icon">
                  <i class="ti-github"></i>
                </span>
              </li>
            </ul>
          </div>-->
        </div>
      </div>
    </div>
    <modal-restaurant
      :showModal="showModal"
      :closeModal="closeModal"
      :code="code"
      :getRestaurants="getRestaurants"
      :restaurantEdit="restaurantEdit"
    ></modal-restaurant>
  </div>
</template>

<script>
import AppConfig from "Constants/AppConfig";
import { rules } from "../../plugins/utility";
import User from "../../models/User";
import Restaurant from "../../models/Restaurant";
import apiRestaurants from "../../api/restaurants";
import apiUsers from "../../api/users";
import apiAuth from "../../api/auth";
import Vue from "vue";

export default {
  components: {},
  data() {
    return {
      rules,
      dataReady: false,
      tab: 0,
      user: new User(),
      restaurant: new Restaurant(),
      valid: false,
      createdUser: null,
      appLogo: AppConfig.appLogo,
      brand: AppConfig.brand,
      showModal: false,
      code: "",
      restaurants: [],
      loader: false,
      settings: {
        maxScrollbarLength: 100,
      },
      restaurantEdit: {},
      restaurants_ids: [],
    };
  },
  created() {
    this.makeId(10);
  },
  methods: {
    onComplete() {
      this.$router.push("/session/login");
    },
    validateFirstStep() {
      this.createUser();
      return new Promise((resolve) => {
        resolve(this.$refs.formUser.validate());
      });
    },
    validateSecondStep() {
      if (this.restaurants.length > 0) {
        this.submit();
      } else {
        this.dataReady = true;
      }
      return new Promise((resolve, reject) => {
        console.log(reject);
        resolve(true);
      });
    },
    createUser() {
      if (this.$refs.formUser.validate()) {
        this.loading = true;
        let method = null;

        const keys = Object.keys(this.user);
        const formData = new FormData();
        keys.forEach((k) => {
          formData.append(
            k,
            typeof this.user[k] === "object"
              ? JSON.stringify(this.user[k])
              : this.user[k]
          );
        });

        method = apiUsers.create(formData);
        method
          .then((response) => {
            this.createdUser = response.data.user;
          })
          .catch((error) => {
            console.log(error);
            return false;
          });
      }
    },
    closeModal() {
      this.showModal = false;
    },
    makeId(length) {
      var result = "";
      var characters =
        "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
      var charactersLength = characters.length;
      for (var i = 0; i < length; i++) {
        result += characters.charAt(
          Math.floor(Math.random() * charactersLength)
        );
      }
      this.code = result;
      return result;
    },

    submit() {
      this.loading = true;
      let method = null;
      const formData = new FormData();

      //para los datos de restaurants
      formData.append("restaurants", this.restaurants_ids);
      formData.append("user", this.createdUser.id);
      method = apiAuth.MerchantRegistration(formData);
      method
        .then(() => {
          console.log("listo");
          this.dataReady = true;
        })
        .catch((error) => {
          this.loading = false;
          window.getApp.$emit("SET_MESSAGE", error.response.statusText);
        });
    },
    signInWithFacebook() {
      this.$store.dispatch("signinUserWithFacebook", {
        router: this.$router,
      });
    },
    signInWithGoogle() {
      this.$store.dispatch("signinUserWithGoogle", {
        router: this.$router,
      });
    },
    signInWithTwitter() {
      this.$store.dispatch("signinUserWithTwitter", {
        router: this.$router,
      });
    },

    getRestaurants() {
      apiRestaurants
        .fetch({
          code: this.code,
        })
        .then((response) => {
          this.restaurants = response.data;
          this.restaurants_ids = [];
          this.restaurants.forEach((restaurant) => {
            this.restaurants_ids.push(restaurant.id);
          });
        })
        .catch((error) => {
          this.loadingTable = false;
          window.getApp.$emit("SET_MESSAGE", error.response.statusText);
        });
    },
    editRestaurant(restaurant) {
      this.restaurantEdit = restaurant;
      this.showModal = true;
    },
    deleteRestaurant(id) {
      if (confirm(this.$t("message.AreYouSure"))) {
        apiRestaurants
          .delete(id)
          .then(() => {
            this.getRestaurants();
            window.getApp.$emit(
              "SET_MESSAGE",
              this.$t("message.RecordDeleted")
            );
          })
          .catch((error) => {
            Vue.notify({
              group: "loggedIn",
              type: "error",
              text: error.response.data,
            });
          });
      }
    },
  },
  watch: {
    // dataReady() {
    //   setTimeout(() => {
    //     this.$router.push("/session/login");
    //   }, 3000);
    // }
  },
  computed: {
    passwordConfirmationRule() {
      return () =>
        this.user.password === this.user.password_confirm ||
        "Las contraseñas deben ser iguales";
    },
  },
};
</script>
<style>
.sing-up ul.wizard-nav.wizard-nav-pills {
  display: none !important;
}
.sing-up .wizard-progress-bar {
  display: none;
}
.sing-up .session-content {
  padding: 80px !important;
  border: #eb4045 14px solid !important;
  border-radius: 20px !important;
  max-width: 46.25rem !important;
}
.sing-up .wizard-header {
  padding: 0 !important;
}
</style>
