<template>
  <v-dialog v-model="showModal" scrollable persistent max-width="600px">
    <v-card>
      <v-card-title>
        <span class="headline"
          >{{ user.id ? $t("message.Edit") : $t("message.Create") }}
          {{ $t("message.User") }}</span
        >
      </v-card-title>
      <v-divider></v-divider>
      <v-card-text>
        <v-form ref="formUser" autocomplete="off">
          <v-layout row wrap>
            <v-flex xs12 sm2 class="pr-2">
              <v-text-field
                prepend-icon="perm_identity"
                label="ID"
                type="number"
                v-model="user.user_id"
                :rules="[rules.required]"
              ></v-text-field>
            </v-flex>
            <v-flex xs12 sm10 class="pr-2">
              <v-text-field
                prepend-icon="perm_identity"
                label="Nombre"
                type="text"
                v-model="user.name"
                :rules="[rules.required, rules.length100]"
              ></v-text-field>
            </v-flex>
            <v-flex xs12 sm6 class="pr-2">
              <v-text-field
                prepend-icon="phone"
                label="Teléfono"
                type="text"
                v-model="user.phone"
                :rules="[rules.length10]"
              ></v-text-field>
            </v-flex>
            <v-flex xs12 sm6 class="pr-2">
              <v-text-field
                prepend-icon="perm_identity"
                label="Cédula"
                type="text"
                :disabled="user.id"
                v-model="user.document"
                :rules="[rules.required, rules.length11]"
              ></v-text-field>
            </v-flex>
            <v-flex xs12 sm6 class="pr-2">
              <v-text-field
                prepend-icon="email"
                label="Email"
                type="text"
                v-model="user.email"
                :disabled="user.id"
                :rules="[rules.required, rules.email]"
              ></v-text-field>
            </v-flex>
            <v-flex xs6 sm3 xl2 lg2>
              <v-menu
                ref="menu"
                v-model="menu"
                :close-on-content-click="false"
                :nudge-right="40"
                transition="scale-transition"
                offset-y
                min-width="290px"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field
                    v-model="user.birthday"
                    :label="$t('message.BirthDate')"
                    prepend-icon="mdi-calendar"
                    readonly
                    :rules="[rules.required]"
                    v-bind="attrs"
                    v-on="on"
                    style="width: 250px; min-width: 180px; max-width: 250px"
                  ></v-text-field>
                </template>
                <v-date-picker
                  v-model="user.birthday"
                  no-title
                  scrollable
                  @input="menu = false"
                  :max="end_date"
                >
                </v-date-picker>
              </v-menu>
            </v-flex>
            <v-flex xs12 sm6 class="pr-2" v-if="!user.id">
              <v-text-field
                prepend-icon="lock"
                label="Contraseña"
                type="text"
                v-model="user.password"
                :rules="
                  user.id === null ? [rules.required, rules.strongPassword] : []
                "
              ></v-text-field>
            </v-flex>
            <v-flex xs12 sm6 class="pr-2" v-if="!user.id">
              <v-text-field
                prepend-icon="lock"
                label="Verificar Contraseña"
                type="text"
                v-model="user.password_veify"
                :rules="[matchingPasswords]"
              ></v-text-field>
            </v-flex>
            <v-flex xs12 class="pr-2">
              <v-autocomplete
                prepend-icon="flag"
                label="País"
                :items="countries"
                v-model="country_id"
                :rules="[rules.required]"
              ></v-autocomplete>
            </v-flex>
            <v-flex xs12 class="pr-2">
              <v-autocomplete
                v-show="states.length"
                prepend-icon="flag"
                label="Estado"
                :items="states"
                v-model="state_id"
                :rules="[rules.required]"
              ></v-autocomplete>
            </v-flex>
            <v-flex xs12 class="pr-2">
              <v-autocomplete
                v-show="cities.length"
                prepend-icon="flag"
                label="Ciudad"
                :items="cities"
                v-model="user.city_id"
                :rules="[rules.required]"
              ></v-autocomplete>
            </v-flex>
          </v-layout>
        </v-form>
      </v-card-text>
      <v-card-actions style="padding: 16px">
        <v-btn color="error" depressed @click="closeModal()">{{
          $t("message.Cancel")
        }}</v-btn>
        <v-spacer></v-spacer>
        <v-btn
          style="margin-right: 0px"
          color="success"
          depressed
          @click="createUser()"
          :loading="loading"
          >{{ $t("message.Save") }}</v-btn
        >
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { rules } from "../../plugins/utility";
import apiUsers from "../../api/users";
import apiLocations from "../../api/locations";
import User from "../../models/User";
import moment from "moment";

export default {
  props: {
    showModal: Boolean,
    closeModal: Function,
    getUsers: Function,
    userEdit: Object,
  },
  data: () => ({
    rules,
    country_id: null,
    state_id: null,
    countries: [],
    states: [],
    cities: [],
    loading: false,
    user: new User(),
    menu: false,
    end_date: null,
  }),
  methods: {
    createUser() {
      if (this.$refs.formUser.validate()) {
        this.loading = true;
        let method = null;
        let message = "";
        if (this.user.id) {
          method = apiUsers.update(this.user.id, this.user);
          message = "Actualización Existosa";
        } else {
          const keys = Object.keys(this.user);
          const formData = new FormData();
          keys.forEach((k) => {
            formData.append(
              k,
              typeof this.user[k] === "object"
                ? JSON.stringify(this.user[k])
                : this.user[k]
            );
          });
          method = apiUsers.create(formData);
          message = "Registro Existoso";
        }
        method
          .then(() => {
            this.loading = false;
            this.closeModal();
            this.getUsers();
            window.getApp.$emit("SET_MESSAGE", message);
          })
          .catch((error) => {
            this.loading = false;
            alert(JSON.stringify(error.response.data.errors));
          });
      }
    },
    getCountries() {
      apiLocations
        .getCountries()
        .then((response) => {
          var list = response.data.data.map((r) => {
            return {
              value: `${r.id}`,
              text: `${r.name}`,
            };
          });
          this.countries = list;
        })
        .catch((error) => {
          this.loadingTable = false;
          window.getApp.$emit("SET_MESSAGE", error.response.statusText);
        });
    },
    getStates() {
      apiLocations
        .getStates(this.country_id)
        .then((response) => {
          var list = response.data.data.map((r) => {
            return {
              value: `${r.id}`,
              text: `${r.name}`,
            };
          });
          this.states = list;
        })
        .catch((error) => {
          this.loadingTable = false;
          window.getApp.$emit("SET_MESSAGE", error.response.statusText);
        });
    },
    getCities() {
      apiLocations
        .getCities(this.state_id)
        .then((response) => {
          var list = response.data.data.map((r) => {
            return {
              value: `${r.id}`,
              text: `${r.name}`,
            };
          });
          this.cities = list;
        })
        .catch((error) => {
          this.loadingTable = false;
          window.getApp.$emit("SET_MESSAGE", error.response.statusText);
        });
    },
    getParents() {
      apiLocations
        .getParents(this.user.city_id)
        .then((response) => {
          var data = response.data.data;
          this.country_id = String(data.country);
          this.state_id = String(data.state);
          this.user.city_id = String(data.city);
        })
        .catch((error) => {
          this.loadingTable = false;
          window.getApp.$emit("SET_MESSAGE", error.response.statusText);
        });
    },
    //validad contraseñas iguales
    matchingPasswords() {
      if (this.user.password === this.user.password_veify) {
        return true;
      } else {
        return "Las contraseñas deben ser iguales.";
      }
    },
  },
  mounted() {
    this.getCountries();
  },
  watch: {
    showModal() {
      if (this.$refs.formUser) this.$refs.formUser.reset();
      this.user = new User();
      this.end_date = moment().subtract(18, "years").format("YYYY-MM-DD");
      this.user.birthday = moment().subtract(18, "years").format("YYYY-MM-DD");

      if (this.showModal && this.userEdit.id) {
        this.user = Object.assign({}, this.userEdit);
        this.getParents();
      }
    },
    country_id() {
      this.getStates();
    },
    state_id() {
      this.getCities();
    },
  },
};
</script>
<style lang="css">
.v-input__prepend-outer {
  margin-right: 5px;
}
</style>
