<template>
  <div id="tableUsers">
    <page-title-bar></page-title-bar>
    <v-container grid-list-xl fluid v-if="!showProfileUser">
      <v-layout row wrap>
        <v-flex xs12>
          <v-card>
            <v-app-bar flat color="white">
              <v-text-field
                flat
                solo
                prepend-icon="search"
                :placeholder="$t('message.Search')"
                v-model="search"
                hide-details
                class="hidden-sm-and-down elevation-0"
              ></v-text-field>
              <v-spacer></v-spacer>
              <v-btn
                color="primary"
                @click="
                  showModal = true;
                  userEdit = {};
                "
                style="min-width: 56px"
              >
                <v-icon>add</v-icon>
              </v-btn>
            </v-app-bar>
            <v-divider></v-divider>
            <v-card-text class="pa-0">
              <v-data-table
                :sort-by.sync="sortBy"
                :sort-desc.sync="sortDesc"
                :loading="loadingTable"
                :headers="headers"
                :items="users"
                :options.sync="pagination"
                :footer-props="footerProps"
                :server-items-length="totalUsers"
              >
                <v-progress-linear
                  slot="progress"
                  height="4"
                  indeterminate
                ></v-progress-linear>
                <template v-slot:item.is_admin="{ item }">
                  <td class="text-xs-center">
                    {{ item.is_admin == 1 ? "Administrador" : "Usuario" }}
                  </td>
                </template>
                <template v-slot:item.actions="{ item }">
                  <td class="text-xs-center">
                    <v-btn
                      icon
                      style="margin: 0px"
                      @click="editUser(item)"
                      :disabled="item.is_admin == 1"
                    >
                      <v-icon color="info">edit</v-icon>
                    </v-btn>
                    <v-btn
                      icon
                      style="margin: 0px"
                      @click="deleteUser(item.id)"
                      :disabled="item.is_admin == 1"
                    >
                      <v-icon color="error">delete</v-icon>
                    </v-btn>
                  </td>
                </template>
              </v-data-table>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
    <modal-user
      :showModal="showModal"
      v-if="loaded"
      :closeModal="closeModal"
      :getUsers="getUsers"
      :userEdit="userEdit"
    ></modal-user>
    <modal-user-invit
      :showModal="showModalInvit"
      v-if="loaded"
      :closeModal="closeModal"
      :getUsers="getUsers"
    ></modal-user-invit>
    <ProfileUser
      v-if="showProfileUser"
      :user="userProfile"
      @get-back="getBack"
    />
  </div>
</template>

<script>
import apiUsers from "../../api/users";
import ModalUser from "./../users/ModalUsers";
import { mapGetters } from "vuex";

export default {
  components: {
    ModalUser,
  },
  mounted() {
    this.getUsers();
  },
  data() {
    return {
      sortBy: "id",
      sortDesc: false,
      userProfile: {},
      showProfileUser: false,
      showModalInvit: false,
      loadingTable: false,
      search: null,
      users: [],
      totalUsers: 0,
      pagination: {},
      showModal: false,
      userEdit: {},
      loadingExport: false,
      loaded: false,
      headers: [
        { text: this.$t("message.Name"), value: "name" },
        { text: this.$t("message.Email"), value: "email" },
        { text: this.$t("message.Phone"), value: "phone" },
        { text: this.$t("message.Document"), value: "document" },
        { text: this.$t("message.Birthday"), value: "birthday" },
        { text: this.$t("message.YearsOld"), value: "old" },
        {
          text: this.$t("message.isAdmin"),
          value: "is_admin",
          sortable: false,
        },
        { text: this.$t("message.Actions"), value: "actions", sortable: false },
      ],
      footerProps: {
        "items-per-page-options": [15, 30, 50, 100],
        itemsPerPageText: this.$t("message.RowsPerPage"),
      },
    };
  },
  methods: {
    closeModal() {
      this.showModal = false;
      this.showModalInvit = false;
    },
    getUsers() {
      this.loadingTable = true;
      const { page, itemsPerPage, sortBy, sortDesc } = this.pagination;
      apiUsers
        .fetch({
          page,
          itemsPerPage,
          sortBy: sortBy[0],
          descending: sortDesc[0] ? "desc" : "asc",
          search: this.search,
        })
        .then((response) => {
          const { data, total } = response.data.data;
          this.users = data;
          this.totalUsers = total;
          this.loadingTable = false;
          this.loaded = true;
        })
        .catch((error) => {
          this.loadingTable = false;
          window.getApp.$emit("SET_MESSAGE", error.response.statusText);
        });
    },
    showUser(user) {
      this.showProfileUser = true;
      this.userProfile = user;
    },
    getBack() {
      this.showProfileUser = false;
      this.userProfile = {};
    },
    editUser(user) {
      this.userEdit = user;
      this.showModal = true;
    },
    deleteUser(id) {
      if (confirm(this.$t("message.AreYouSure"))) {
        apiUsers
          .delete(id)
          .then(() => {
            this.getUsers();
          })
          .catch((error) => {
            window.getApp.$emit("SET_MESSAGE", error.response.statusText);
          });
      }
    },
    statusUser(id) {
      apiUsers
        .update(id, { action: "status" })
        .then(() => {
          this.getUsers();
          window.getApp.$emit("SET_MESSAGE", "Actualización Existosa");
        })
        .catch((error) => {
          window.getApp.$emit("SET_MESSAGE", error.response.statusText);
        });
    },
  },
  watch: {
    selectedLocale() {
      this.headers = [
        { text: this.$t("message.FirstName"), value: "first_name" },
        { text: this.$t("message.LastName"), value: "last_name" },
        { text: this.$t("message.Email"), value: "email" },
        { text: this.$t("message.Role"), value: "role.name", sortable: false },
        { text: this.$t("message.Actions"), value: "actions", sortable: false },
      ];
      this.footerProps.itemsPerPageText = this.$t("message.RowsPerPage");
    },
    pagination: {
      handler() {
        if (this.loaded) this.getUsers();
      },
      deep: true,
    },
    search() {
      this.getUsers();
    },
  },

  computed: {
    ...mapGetters(["selectedLocale", "languages"]),

    pages() {
      if (this.pagination.itemsPerPage == null || this.totalUsers == null) {
        return 0;
      }
      return Math.ceil(this.totalUsers / this.pagination.itemsPerPage);
    },
  },
};
</script>
